<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.finsandpins.BoardsInboxWatcher</string>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<true/>
	<key>ThrottleInterval</key>
	<integer>30</integer>
	<key>WorkingDirectory</key>
	<string>FULL_PATH_TO_PREPARING_INVENTORY</string>
	<key>ProgramArguments</key>
	<array>
		<string>/bin/bash</string>
		<string>-lc</string>
		<string>exec ./board_inbox_watcher.sh</string>
	</array>
	<key>StandardOutPath</key>
	<string>FULL_PATH_TO_PREPARING_INVENTORY/_logs/launchd_boards_watcher.log</string>
	<key>StandardErrorPath</key>
	<string>FULL_PATH_TO_PREPARING_INVENTORY/_logs/launchd_boards_watcher.err.log</string>
	<key>EnvironmentVariables</key>
	<dict>
		<key>PATH</key>
		<string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
	</dict>
</dict>
</plist>
